///FIRST STEP SECTION

@import "vars";

.first_step_block {
  flex-wrap: wrap;
}
.first_step_block__images {
  position: relative;
  width: 194.11px;
  height: 100%;

  .digit {
    @include absolute_background(138.5px, 365px, 9.95px, 169px);
  }
  .chart {
    @include absolute_background(194.11px, 348px, 321.95px, 53px);
  }
  .house__checked {
    @include absolute_background(144.81px, 152px, 565.95px, -3.81px);
  }
}

.check_now__button {
  min-height: 200px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 66px;
  a {
    height: 96px;
  }
  &:before {
    content: "";
    @include absolute_background(312px, 324px, -204px, 0);
    background-image: url(../images/steps/first_step/transparent_rectangle.svg);
  }
  &:before {
    top: -248px;
  }
  &:after {
    content: "";
    @include absolute_background(274px, 176px, 0, 118px);
    background-image: url(../images/steps/first_step/curve_line.svg);
  }
}

.first_step__arrow {
  position: relative;
  width: 100%;
  height: 164px;
  &::after {
    content: "";
    @include absolute_background(480px, 168px, -25px, auto);
    right: 0;
    background: url(../images/steps/first_step/arrow_down.svg);
    background-size: 480px 168px;
  }
}

@media screen and (max-width: 992px) {
  .first_step_block__images {
    min-height: 433px;
    width: 100%;
    &:before {
      content: "";
      @include absolute_background(324px, 324px, 126px, -64px);
      background-image: url(../images/steps/first_step/tablet_rectangle.svg);
    }
    &:after {
      content: "";
      @include absolute_background(290.11px, 348px, 48px, 0);
      background-image: url(../images/steps/first_step/tablet_chart_house.svg);
    }
  }

  .first_step_block__images {
    min-height: 324px;
    .digit {
      top: 251px;
      left: auto;
      right: 137.5px;
    }
  }
  .chart,
  .arrow_link,
  .house__checked {
    display: none !important;
  }
  .first_step_block {
    min-height: 100%;
    justify-content: flex-end !important;
  }

  .check_now__button {
    margin-top: 0px !important;
    justify-content: center;
    &:after {
      content: "";
      position: absolute;
      @include absolute_background(176px, 881px, -704px, 40px);
      background-image: url(../images/steps/first_step/tablet_curve_line.svg);
    }
  }

  .first_step__arrow {
    position: relative;
    width: 100%;
    height: 93.58px;
    &::after {
      content: "";
      @include absolute_background(192px, 118.59px, -25px, auto);
      right: 0;
      background: url(../images/steps/first_step/rectangle_379.svg);
      background-repeat: no-repeat;
      background-size: 192px 118.59px;
    }
  }
}

@media screen and (max-width: 764px) {
  .digit,
  .chart,
  .house__checked {
    display: none !important;
  }
  .arrow_link {
    display: none !important;
  }
  .first_step_block__images {
    width: 100%;
    display: flex;

    flex-direction: row;
    -moz-flex-direction: row;
    justify-content: center !important;
    &:before {
      content: "";
      @include absolute_background(315px, 315px, 126px, 30px);
      background-image: url(../images/steps/first_step/mobile_first_step_rectange.svg);
    }
    &:after {
      @include absolute_background(261.11px, 348px, auto, 57px);
      background-image: url(../images/steps/first_step/mobile_chart_house.svg);
    }
  }

  .first_step_block {
    justify-content: center !important;
    padding-right: 0;
  }

  .check_now__button {
    position: relative;
    margin-top: 32px !important;
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  .first_step__arrow {
    display: none;
  }
}
