///FIRST STEP SECTION

@import "vars";

.first_step_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first_step_block__images {
  position: relative;
  width: 194.11px;
  height: 100%;

  .digit {
    position: absolute;
    width: 138.5px;
    height: 365px;
    top: 9.95px;
    left: 169px;
  }
  .chart {
    position: absolute;
    width: 194.11px;
    height: 348px;
    top: 321.95px;
    left: 53px;
  }
  .house__checked {
    position: absolute;
    width: 144.81px;
    height: 152px;
    top: 565.95px;
    left: -3.81px;
  }
}

.first_step__description {
  min-height: 100%;
  flex: 0 0 $width;
  text-align: justify;
  margin-top: 83.95px;
  z-index: 1;
  @include poppins_font(700, 20px, 32px);
  p {
    margin-bottom: 32px;
    &:first-child {
      margin-top: 32px;
    }
  }
  .first_step_description__text {
    height: 636px;
  }
  &:last-child {
    margin-bottom: 32px;
  }
}

.check_now__button {
  min-height: 200px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 66px;
  a {
    height: 96px;
  }
  &:before {
    content: "";
    position: absolute;
    width: 312px;
    height: 324px;
    top: -204px;
    left: 0px;
    background-image: url(../images/transparent_rectangle.svg);
  }
  &:before {
    top: -248px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 274px;
    height: 176px;
    top: 0;
    left: 118px;
    background-image: url(../images/curve_line.svg);
  }
}

@media screen and (max-width: 900px) {
  ///FIRST STEP
  .first_step_block__images {
    min-height: 433px;
    width: 100%;
    &:before {
      content: "";
      position: absolute;
      width: 324px;
      height: 324px;
      top: 126px;
      left: -64px;
      background-image: url(../images/tablet_rectangle.svg);
    }
    &:after {
      content: "";
      position: absolute;
      width: 290.11px;
      height: 348px;
      top: 48px;
      left: 0;
      background-image: url(../images/tablet_chart_house.svg);
    }
  }

  .first_step_block__images {
    min-height: 324px;
    .digit {
      top: 251px;
      left: auto;
      right: 137.5px;
    }
  }
  .chart,
  .arrow_link,
  .house__checked {
    display: none;
  }
  .first_step_block {
    min-height: 100%;
    justify-content: flex-end;
  }
  .first_step__description {
    flex: 0 0 $table_width;
    position: relative;

    width: calc(100% - 60px);
    min-height: 752px;
    max-height: 1000px p {
      margin-bottom: 20px;
    }
  }

  .first_step_description__text {
    height: 464px !important;
  }
  .check_now__button {
    margin-top: 0px !important;
    justify-content: center;
    min-height: 400px;
    &:after {
      content: "";
      position: absolute;
      width: 176px;
      height: 881px;
      top: -704px;
      left: 40px;
      background-image: url(../images/tablet_curve_line.svg);
    }
  }
}

@media screen and (max-width: 600px) {
  .digit,
  .chart,
  .house__checked {
    display: none !important;
  }
  .arrow_link {
    display: none !important;
  }
  .first_step_block__images {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &:before {
      content: "";
      position: absolute;
      width: 315px;
      height: 315px;
      top: 126px;
      left: 30px;
      background-image: url(../images/mobile_first_step_rectange.svg);
    }
    &:after {
      width: 261.11px;
      height: 348px;
      left: 57px;
      background-image: url(../images/mobile_chart_house.svg);
    }
  }

  .first_step_block {
    justify-content: flex-start;
  }
  .first_step__description {
    max-height: 1000px;
    min-width: 315px;
    flex: 0 0 calc(100% - 30px);
    flex-wrap: wrap;
    text-align: left;
  }

  .check_now__button {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}
