.second_step_block__images {
  position: relative;
  width: 293px;
  height: 602px;

  .second_digit {
    @include absolute_background(252px, 368px, -118px, 194px);
  }
  .proof_funding {
    @include absolute_background(200px, 200px, 240px, 5px);
  }
  .transparent_rectangle {
    @include absolute_background(293px, 602px, 352px, 24px);
  }
  &:after {
    content: "";
    @include absolute_background(274px, 416px, 448px, auto);
    right: 80px;
    background: url(../images/steps/second_step/rectangle_371.svg);
  }
}

.second_step__description {
  margin-top: -3.95px;
}

.second_step_description_btn {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 52px;
}

.second_step__arrow {
  position: relative;
  width: 100%;
  height: 164px;
  margin-top: 32px;
  &::after {
    content: "";
    @include absolute_background(425px, 168px, 0, 91px);
    background: url(../images/steps/second_step/rectangle_378.svg);
    background-size: 480px 168px;
  }
}
