.second_step_block {
  flex-wrap: wrap-reverse;
}

.second_step_block__images {
  position: relative;
  width: 293px;
  height: 602px;

  .second_digit {
    @include absolute_background(252px, 368px, -118px, auto);
    right: 194px;
  }
  .proof_funding {
    @include absolute_background(200px, 200px, 240px, 5px);
  }
  .transparent_rectangle {
    @include absolute_background(293px, 602px, 352px, 24px);
  }
  &:after {
    content: "";
    @include absolute_background(274px, 416px, 448px, auto);
    right: 80px;
    background: url(../images/steps/second_step/rectangle_371.svg);
  }
}

.second_step__description {
  margin-top: -3.95px;
}

.second_step_description_btn {
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 52px;
}

.second_step__arrow {
  position: relative;
  width: 100%;
  height: 164px;
  margin-top: 32px;
  &:after {
    content: "";
    @include absolute_background(425px, 168px, 0, 91px);
    background: url(../images/steps/second_step/rectangle_378.svg);
    background-size: 480px 168px;
  }
}

@media screen and (max-width: 992px) {
  .second_step_block__images {
    width: 100%;
    height: 107px;
    .second_digit {
      @include absolute_background(252px, 368px, 5px, 1px);
    }
    .proof_funding {
      @include absolute_background(152px, 152px, 61px, auto);
      right: 4px;
    }
    .transparent_rectangle {
      display: none;
    }

    &:before {
      content: "";
      @include absolute_background(324px, 324px, -71px, auto);
      right: -60px;
      background: url(../images/steps/second_step/rectangle_359.svg);
      background-size: 324px 324px;
    }
    &:after {
      content: "";
      @include absolute_background(176px, 633px, 293px, auto);
      right: 44px;
      background: url(../images/steps/second_step/rectangle_380.svg);
      background-size: 176px 633px;
    }
  }
  .second_step__arrow {
    &:after {
      content: "";
      @include absolute_background(192px, 118.59px, -57px, 91px);
      margin-top: 0 !important;
      background: url(../images/steps/second_step/rectangle_379.svg);
      background-size: 192px 118.59px;
      background-repeat: no-repeat;
    }
  }
}
