@import "vars";

.third__step_block__images {
  position: relative;
  min-width: 250px;
  height: 100%;

  .third_digit {
    @include absolute_background(254px, 376.5px, -70px, 189px);
  }
  .house__search {
    @include absolute_background(231.55px, 233.25px, 299px, 1px);
  }
  .third_step__transparent_rectangle {
    @include absolute_background(288px, 360px, 378px, 8px);
  }
  &:after {
    content: "";
    @include absolute_background(278px, 349px, 608px, 91px);
    background: url(../images/steps/third_step/rectangle_381.svg);
  }
}

.third_step__arrow {
  position: relative;
  width: 100%;
  height: 164px;
  margin-top: 32px;
  &::after {
    content: "";
    @include absolute_background(504px, 168px, -25px, auto);
    right: -88px;
    background: url(../images/steps/third_step/rectangle_377.svg);
    background-size: 480px 168px;
  }
}
