.third__step_block__images {
  position: relative;
  min-width: 250px;
  height: 100%;

  .third_digit {
    position: absolute;
    width: 254px;
    height: 376.5px;
    top: -70px;
    left: 189px;
  }
  .house__search {
    position: absolute;
    width: 231.55px;
    height: 233.25px;
    top: 299px;
    left: 1px;
  }
  .third_step__transparent_rectangle {
    position: absolute;
    width: 288px;
    height: 360px;
    top: 378px;
    left: 8px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 278px;
    height: 349px;
    top: 608px;
    left: 91px;
    background: url(../images/steps/third_step/rectangle_381.svg);
  }
}
