@import "vars";
@import "first_step";
@import "second_step";
@import "third_step";
@import "forth_step";
@import "fifth_step";
@import "sixth_step";

html {
  font-size: 42px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: linear-gradient(347.96deg, #382459 0%, #6b3993 100%);
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: $color;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2 {
  @include poppins_font(700, 1rem, 48px);
}

h3,
h4 {
  @include poppins_font(700, 33px, 40px);
}

h5 {
}

p {
  @include poppins_font(400, 20px, 32px);
}

.btn_round {
  position: relative;
  min-width: 304px;
  min-height: 96px;
  text-decoration: none;
  border: 2px solid #b9ff9c;
  color: #b9ff9c;
  padding: 32px 97px 32px 55px;
  box-sizing: border-box;
  border-radius: 85px;
  @include poppins_font(400, 26px, 30px);
  letter-spacing: 2%;
  &:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    top: 32px;
    right: 32px;
    background-image: url(../images/arrow-right.svg);
  }
}

.btn_default {
  display: flex;
  align-items: center;
  width: 320px;
  height: 128px;
  position: relative;
  padding: 32px 112px 31px 35px;
  color: $color;
  text-decoration: none;
  @include poppins_font(700, 26px, 30px);
  color: #b9ff9c;
  letter-spacing: 2%;
  background: radial-gradient(
    115.14% 323.83% at -16.67% -110.94%,
    rgba(167, 146, 255, 0.4) 0%,
    rgba(146, 76, 235, 0) 100%
  );
  border-radius: 27px;
  .btn_default_icon {
    position: absolute;
    width: 50px;
    height: 65px;
    top: 31px;
    right: 40px;
  }
}

.container {
  width: calc(100%);
  float: left;
  height: 100%;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 50px;
}
header {
  position: relative;
  height: 270px;
}
header img {
  position: absolute;
  top: -5px;
  right: -160px;
  width: 408px;
  height: 789px;
}

.headline {
  position: relative;
  width: $width;
  height: 96px;
  line-height: 48px;
  &:after {
    content: "";
    @include white_line($width, 2px, 118px, 0px);
  }
}

.headline__title {
  display: flex;
  flex-direction: column;
}
.text_description {
  height: 126px;
  margin-top: 48px;
  @include poppins_font(400, 26px, 42px);
}

.good-news__section {
  width: $width;
}
.news__section__subtitle {
  position: relative;
  margin-top: 66px;
  margin-bottom: 32px;
}
.news__section__description {
  margin-top: 32px;
}

.arrow_link {
  width: 100%;
  height: 31.15px;
  margin-top: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  .arrow_link__image {
    width: 31.15px;
    height: 31.15px;
  }
}

.step_block_item {
  display: flex;
  flex-direction: row;
  -moz-flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.step_block_item__text {
  min-height: 100%;
  flex: 0 0 $width;
  text-align: justify;
  margin-top: 83.95px;
  z-index: 1;
  @include poppins_font(700, 20px, 32px);
  p {
    margin-bottom: 32px;
    &:first-child {
      margin-top: 32px;
    }
  }
  &:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 900px) {
  h1,
  h2 {
    @include poppins_font(700, 33px, 40px);
  }
  p,
  .text_description {
    @include poppins_font(400, 16px, 24px);
  }
  .container {
    width: calc(100%);
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 40px;
  }
  header {
    height: 118px;
    h1 {
      @include poppins_font(700, 24px, 28px);
    }
  }
  header img {
    top: 36px;
    right: -64px;
    width: 188px;
    height: 404px;
  }
  .headline {
    width: $table_width;
    height: 28px;
    &:after {
      content: "";
      @include white_line($table_width, 2px, 46px, 0px);
    }
  }
  .headline__title {
    flex-direction: row;
  }

  .text_description {
    height: 48px;
    margin-top: 32px;
  }

  .good-news__section {
    width: $table_width;
  }

  .news__section__subtitle {
    margin-top: 49px;
    margin-bottom: 30px;
    &:after {
      content: "";
      @include white_line($table_width, 1px, 32px, 0px);
    }
  }
  .step_block_item__text {
    flex: 0 0 $table_width;
    position: relative;
    width: calc(100% - 60px);
    min-height: 752px;
    max-height: 1000px;
    p {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    @include poppins_font(700, 24px, 28px);
  }
  p {
    @include poppins_font(400, 16px, 24px);
  }
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17.5px;
  }
  .headline {
    width: $mobile_width;
    height: 56px;
    &:after {
      content: "";
      @include white_line(315px, 2px, 70px, 0px);
    }
  }
  .headline__title {
    display: block;
  }
  header {
    height: 144px;
    h1 {
      @include poppins_font(700, 24px, 28px);
    }
  }

  header img {
    top: 216px;
    right: -30px;
    width: 126px;
    height: 202px;
  }
  .good-news__section {
    width: 204px;
  }
  .text_description {
    height: 72px;
    margin-top: 32px;
  }

  .news__section__subtitle {
    width: 204px;
    margin-top: 54px;
    margin-bottom: 30px;
    &:after {
      content: "";
      @include white_line(204px, 1px, 32px, 0px);
    }
  }

  .step_block_item__text {
    margin-bottom: 0 !important;
    position: relative;
    min-height: 100%;
    flex: 0 0 100%;
    flex-wrap: wrap;
    text-align: left;
    min-width: 315px;
    &:before {
      content: "1.";
      @include poppins_font(700, 33px, 40px);
    }
  }
}
