@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.first_step_block__images {
  position: relative;
  width: 194.11px;
  height: 100%;
}

.first_step_block__images .digit {
  position: absolute;
  width: 138.5px;
  height: 365px;
  top: 9.95px;
  left: 169px;
}

.first_step_block__images .chart {
  position: absolute;
  width: 194.11px;
  height: 348px;
  top: 321.95px;
  left: 53px;
}

.first_step_block__images .house__checked {
  position: absolute;
  width: 144.81px;
  height: 152px;
  top: 565.95px;
  left: -3.81px;
}

.check_now__button {
  min-height: 200px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 66px;
}

.check_now__button a {
  height: 96px;
}

.check_now__button:before {
  content: "";
  position: absolute;
  width: 312px;
  height: 324px;
  top: -204px;
  left: 0;
  background-image: url(../images/steps/first_step/transparent_rectangle.svg);
}

.check_now__button:before {
  top: -248px;
}

.check_now__button:after {
  content: "";
  position: absolute;
  width: 274px;
  height: 176px;
  top: 0;
  left: 118px;
  background-image: url(../images/steps/first_step/curve_line.svg);
}

.first_step__arrow {
  position: relative;
  width: 100%;
  height: 164px;
}

.first_step__arrow::after {
  content: "";
  position: absolute;
  width: 480px;
  height: 168px;
  top: -25px;
  left: auto;
  right: 0;
  background: url(../images/steps/first_step/arrow_down.svg);
  background-size: 480px 168px;
}

@media screen and (max-width: 900px) {
  .first_step_block__images {
    min-height: 433px;
    width: 100%;
  }
  .first_step_block__images:before {
    content: "";
    position: absolute;
    width: 324px;
    height: 324px;
    top: 126px;
    left: -64px;
    background-image: url(../images/steps/first_step/tablet_rectangle.svg);
  }
  .first_step_block__images:after {
    content: "";
    position: absolute;
    width: 290.11px;
    height: 348px;
    top: 48px;
    left: 0;
    background-image: url(../images/steps/first_step/tablet_chart_house.svg);
  }
  .first_step_block__images {
    min-height: 324px;
  }
  .first_step_block__images .digit {
    top: 251px;
    left: auto;
    right: 137.5px;
  }
  .chart,
  .arrow_link,
  .house__checked {
    display: none !important;
  }
  .first_step_block {
    min-height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .check_now__button {
    margin-top: 0px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 400px;
  }
  .check_now__button:after {
    content: "";
    position: absolute;
    position: absolute;
    width: 176px;
    height: 881px;
    top: -704px;
    left: 40px;
    background-image: url(../images/steps/first_step/tablet_curve_line.svg);
  }
}

@media screen and (max-width: 730px) {
  .digit,
  .chart,
  .house__checked {
    display: none !important;
  }
  .arrow_link {
    display: none !important;
  }
  .first_step_block__images {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -moz-flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first_step_block__images:before {
    content: "";
    position: absolute;
    width: 315px;
    height: 315px;
    top: 126px;
    left: 30px;
    background-image: url(../images/steps/first_step/mobile_first_step_rectange.svg);
  }
  .first_step_block__images:after {
    position: absolute;
    width: 261.11px;
    height: 348px;
    top: auto;
    left: 57px;
    background-image: url(../images/steps/first_step/mobile_chart_house.svg);
  }
  .first_step_block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 0;
  }
  .check_now__button {
    position: relative;
    margin-top: 32px !important;
  }
  .check_now__button:before {
    display: none;
  }
  .check_now__button:after {
    display: none;
  }
  .first_step__arrow {
    display: none;
  }
}

.second_step_block__images {
  position: relative;
  width: 293px;
  height: 602px;
}

.second_step_block__images .second_digit {
  position: absolute;
  width: 252px;
  height: 368px;
  top: -118px;
  left: 194px;
}

.second_step_block__images .proof_funding {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 240px;
  left: 5px;
}

.second_step_block__images .transparent_rectangle {
  position: absolute;
  width: 293px;
  height: 602px;
  top: 352px;
  left: 24px;
}

.second_step_block__images:after {
  content: "";
  position: absolute;
  width: 274px;
  height: 416px;
  top: 448px;
  left: auto;
  right: 80px;
  background: url(../images/steps/second_step/rectangle_371.svg);
}

.second_step__description {
  margin-top: -3.95px;
}

.second_step_description_btn {
  width: 100%;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 52px;
}

.second_step__arrow {
  position: relative;
  width: 100%;
  height: 164px;
  margin-top: 32px;
}

.second_step__arrow::after {
  content: "";
  position: absolute;
  width: 425px;
  height: 168px;
  top: 0;
  left: 91px;
  background: url(../images/steps/second_step/rectangle_378.svg);
  background-size: 480px 168px;
}

.third__step_block__images {
  position: relative;
  min-width: 250px;
  height: 100%;
}

.third__step_block__images .third_digit {
  position: absolute;
  width: 254px;
  height: 376.5px;
  top: -70px;
  left: 189px;
}

.third__step_block__images .house__search {
  position: absolute;
  width: 231.55px;
  height: 233.25px;
  top: 299px;
  left: 1px;
}

.third__step_block__images .third_step__transparent_rectangle {
  position: absolute;
  width: 288px;
  height: 360px;
  top: 378px;
  left: 8px;
}

.third__step_block__images:after {
  content: "";
  position: absolute;
  width: 278px;
  height: 349px;
  top: 608px;
  left: 91px;
  background: url(../images/steps/third_step/rectangle_381.svg);
}

.third_step__arrow {
  position: relative;
  width: 100%;
  height: 164px;
  margin-top: 32px;
}

.third_step__arrow::after {
  content: "";
  position: absolute;
  width: 504px;
  height: 168px;
  top: -25px;
  left: auto;
  right: -88px;
  background: url(../images/steps/third_step/rectangle_377.svg);
  background-size: 480px 168px;
}

.forth_step_block__images {
  position: relative;
  min-width: 250px;
  height: 100%;
}

.forth_step_block__images .forth_digit {
  position: absolute;
  width: 294.5px;
  height: 360px;
  top: -40px;
  left: auto;
  right: 163px;
}

.forth_step_block__images .dollars__bubble {
  position: absolute;
  width: 250.96px;
  height: 146.69px;
  top: 192.31px;
  left: auto;
  right: 5px;
}

.forth_step_block__images .house {
  position: absolute;
  width: 193.48px;
  height: 192px;
  top: 348px;
  left: auto;
  right: 4.81px;
}

.forth_step_block__images .forth_step__rectangle {
  position: absolute;
  width: 648px;
  height: 408px;
  top: 608px;
  left: auto;
  right: 200px;
}

.forth_step_block__images:after {
  content: "";
  position: absolute;
  width: 274px;
  height: 416px;
  top: 475px;
  left: auto;
  right: 80px;
  background: url(../images/steps/forth_step/rectangle_382.svg);
}

.forth_step__description {
  margin-top: -44px !important;
}

.forth_step_description_btn {
  width: 100%;
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 52px;
}

.forth_step__arrow {
  position: relative;
  width: 100%;
  height: 180px;
  margin-top: 32px;
}

.forth_step__arrow::after {
  content: "";
  position: absolute;
  width: 504px;
  height: 168px;
  top: 20px;
  left: 112px;
  background: url(../images/steps/forth_step/rectangle_376.svg);
}

.fifth_block {
  min-height: 818px;
  height: 100%;
}

.fifth__step_block__images {
  position: relative;
  min-width: 250px;
  height: 100%;
}

.fifth__step_block__images .fifth_digit {
  position: absolute;
  width: 258.5px;
  height: 365.5px;
  top: -55px;
  left: 223px;
}

.fifth__step_block__images .fifth_step__house {
  position: absolute;
  width: 225.19px;
  height: 192px;
  top: 240px;
  left: 32px;
}

.fifth__step_block__images .fifth_step__transparent_rectangle {
  position: absolute;
  width: 609px;
  height: 408px;
  top: 319.5px;
  left: 224px;
}

.fifth__step_block__images:after {
  content: "";
  position: absolute;
  width: 234px;
  height: 176px;
  top: 472px;
  left: 118px;
  background: url(../images/steps/fifth_step/rectangle_383.svg);
}

.fifth_step__arrow {
  position: relative;
  width: 100%;
  height: 250px;
}

.fifth_step__arrow::after {
  content: "";
  position: absolute;
  width: 480px;
  height: 173px;
  top: 266px;
  left: auto;
  right: 184px;
  background: url(../images/steps/fifth_step/rectangle_375.svg);
  background-repeat: no-repeat;
}

.sixth_block {
  height: 658px;
  margin-top: 84px;
}

.sixth_step_block__images {
  position: relative;
  min-width: 250px;
  height: 100%;
}

.sixth_step_block__images .sixth_digit {
  position: absolute;
  width: 261.5px;
  height: 374.5px;
  top: -140px;
  left: auto;
  right: 261.5px;
}

.sixth_step_block__images .certificate {
  position: absolute;
  width: 200px;
  height: 233px;
  top: 108px;
  left: auto;
  right: 128px;
}

html {
  font-size: 42px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: linear-gradient(347.96deg, #382459 0%, #6b3993 100%);
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: #ffffff;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 48px;
}

h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 33px;
  line-height: 40px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
}

.btn_round {
  position: relative;
  min-width: 304px;
  min-height: 96px;
  text-decoration: none;
  border: 2px solid #b9ff9c;
  color: #b9ff9c;
  padding: 32px 97px 32px 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 85px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 2%;
}

.btn_round:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 32px;
  right: 32px;
  background-image: url(../images/arrow-right.svg);
}

.btn_default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 128px;
  position: relative;
  padding: 32px 112px 31px 35px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 30px;
  color: #b9ff9c;
  letter-spacing: 2%;
  background: radial-gradient(115.14% 323.83% at -16.67% -110.94%, rgba(167, 146, 255, 0.4) 0%, rgba(146, 76, 235, 0) 100%);
  border-radius: 27px;
}

.btn_default .btn_default_icon {
  position: absolute;
  width: 50px;
  height: 65px;
  top: 31px;
  right: 40px;
}

.container {
  width: calc(100%);
  float: left;
  height: 100%;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 50px;
}

header {
  position: relative;
  height: 270px;
}

header img {
  position: absolute;
  top: -5px;
  right: -160px;
  width: 408px;
  height: 789px;
}

.headline {
  position: relative;
  width: 736px;
  height: 96px;
  line-height: 48px;
}

.headline:after {
  content: "";
  position: absolute;
  width: 736px;
  height: 2px;
  background-color: #ffffff;
  top: 118px;
  left: 0px;
}

.headline__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text_description {
  height: 126px;
  margin-top: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 42px;
}

.good-news__section {
  width: 736px;
}

.news__section__subtitle {
  position: relative;
  margin-top: 66px;
  margin-bottom: 32px;
}

.news__section__description {
  margin-top: 32px;
}

.arrow_link {
  width: 100%;
  height: 31.15px;
  margin-top: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow_link .arrow_link__image {
  width: 31.15px;
  height: 31.15px;
}

.step_block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -moz-flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step_block_item__text {
  min-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 736px;
          flex: 0 0 736px;
  text-align: justify;
  margin-top: 83.95px;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
}

.step_block_item__text p {
  margin-bottom: 32px;
}

.step_block_item__text p:first-child {
  margin-top: 32px;
}

.step_block_item__text:last-child {
  margin-bottom: 32px;
}

@media screen and (max-width: 900px) {
  h1,
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 33px;
    line-height: 40px;
  }
  p,
  .text_description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    width: calc(100%);
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 40px;
  }
  header {
    height: 118px;
  }
  header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
  }
  header img {
    top: 36px;
    right: -64px;
    width: 188px;
    height: 404px;
  }
  .headline {
    width: 528px;
    height: 28px;
  }
  .headline:after {
    content: "";
    position: absolute;
    width: 528px;
    height: 2px;
    background-color: #ffffff;
    top: 46px;
    left: 0px;
  }
  .headline__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .text_description {
    height: 48px;
    margin-top: 32px;
  }
  .good-news__section {
    width: 528px;
  }
  .news__section__subtitle {
    margin-top: 49px;
    margin-bottom: 30px;
  }
  .news__section__subtitle:after {
    content: "";
    position: absolute;
    width: 528px;
    height: 1px;
    background-color: #ffffff;
    top: 32px;
    left: 0px;
  }
  .step_block_item__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 528px;
            flex: 0 0 528px;
    position: relative;
    width: calc(100% - 60px);
    min-height: 752px;
    max-height: 1000px;
  }
  .step_block_item__text p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17.5px;
  }
  .headline {
    width: 315px;
    height: 56px;
  }
  .headline:after {
    content: "";
    position: absolute;
    width: 315px;
    height: 2px;
    background-color: #ffffff;
    top: 70px;
    left: 0px;
  }
  .headline__title {
    display: block;
  }
  header {
    height: 144px;
  }
  header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
  }
  header img {
    top: 216px;
    right: -30px;
    width: 126px;
    height: 202px;
  }
  .good-news__section {
    width: 204px;
  }
  .text_description {
    height: 72px;
    margin-top: 32px;
  }
  .news__section__subtitle {
    width: 204px;
    margin-top: 54px;
    margin-bottom: 30px;
  }
  .news__section__subtitle:after {
    content: "";
    position: absolute;
    width: 204px;
    height: 1px;
    background-color: #ffffff;
    top: 32px;
    left: 0px;
  }
  .step_block_item__text {
    margin-bottom: 0 !important;
    position: relative;
    min-height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
    min-width: 315px;
  }
  .step_block_item__text:before {
    content: "1.";
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 33px;
    line-height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */